@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111;
}
html,
body {
    margin: 0 !important;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 26px;
    line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
    color: #111111;
    margin: 0 0 26px !important;
    line-height: 1.2;
}
h1 {
    font-size: 70px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
h3 {
    font-size: 26px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    font-weight: 700;
}
h5 {
    font-size: 18px;
    font-weight: 700;
}
h6 {
    font-size: 16px;
    font-weight: 700;
}
.home-style2 h1,
.home-style2 h2,
.home-style2 h3,
.home-style2 h4,
.home-style2 h5,
.home-style2 h6 {
    color: #112958;
}
.uppercase {
    text-transform: uppercase !important;
}
.capitalize {
    text-transform: capitalize !important;
}
.bold-text {
    font-size: 20px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}
.extra-bold {
    font-weight: 800 !important;
}
a {
    color: #21a7d0;
    transition: all 0.3s ease;
    text-decoration: none !important;
    outline: none !important;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: #21a7d0;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
blockquote {
    margin: 35px 0!important;
    padding: 40px;
    color: #666;
    position: relative;
    background: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    clear: both;
    box-shadow: 0 0 150px #eee;
}
blockquote:before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background: #21a7d0;
}
.gray-bg {
    background: #f9f8f8;
}
.sub-title {
    color: #21a7d0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.breadcrumbs {
    position: relative;
}
.breadcrumbs .breadcrumbs-img img {
    width: 100%;
}
.breadcrumbs .breadcrumbs-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.breadcrumbs .breadcrumbs-text .page-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #21a7d0;
}
.breadcrumbs .breadcrumbs-text ul {
    padding: 0;
}
.breadcrumbs .breadcrumbs-text ul li {
    color: #505050;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}
.breadcrumbs .breadcrumbs-text ul li a {
    position: relative;
    padding-right: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #505050;
}
.breadcrumbs .breadcrumbs-text ul li a:before,
.breadcrumbs .breadcrumbs-text ul li a:after {
    background-color: #505050;
    content: "";
    height: 15px;
    width: 2px;
    position: absolute;
    right: 7px;
    top: 2px;
    transform: rotate(26deg);
}
.breadcrumbs .breadcrumbs-text ul li a:before {
    right: 13px;
}
.breadcrumbs .breadcrumbs-text ul li a:hover {
    color: #21a7d0;
}
.breadcrumbs .breadcrumbs-text.white-color .page-title {
    color: #ffffff;
}
.breadcrumbs .breadcrumbs-text.white-color ul li {
    color: #ffffff;
}
.breadcrumbs .breadcrumbs-text.white-color ul li a {
    color: #ffffff;
}
.breadcrumbs .breadcrumbs-text.white-color ul li a:before,
.breadcrumbs .breadcrumbs-text.white-color ul li a:after {
    background-color: #ffffff;
}
.breadcrumbs .breadcrumbs-text.white-color ul li a:hover {
    color: #21a7d0;
}
.breadcrumbs-overlay:after {
    content: "";
    position: absolute;
    background-color: rgba(17, 17, 17, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
